@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-size: 100%;
  }

body {
    font-weight:400;
    line-height: 1.5;
    background-color: #F2F0EB;
    font-family: "Hiragino Kaku Gothic",
      "Noto Sans JP",
      "Quattrocento",
      sans-serif;
}

img {
    width: 100%;
    vertical-align: bottom;
}

p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #F2F0EB;
    font-size: 16px;
}

ul {
    list-style: none;
}


.inner{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}

.title{
    font-size: 40px;
    padding: 50px 0px;
    text-align: center;
}

.btn{
    background-color: #333;
    border-radius: 5px;
    display: block;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover,
.form__btn--check:hover,
.form__btn--back:hover {
    background-color: #5F736C ;
    opacity: 0.8;
    transform: translateY(-2px);
    cursor: pointer;
}


/* ヘッダー */
.header__flex{
    padding: 0 50px;
}



/* ハンバーガーメニュー */
@media screen and (max-width: 768px) {
.header__title a{
    font-size: 30px;
}

.header-title{
    text-align: center;
}

.header__flex{
    display: block;
}

.nav{
    display: none;
}

.hamburger-menu{
    display: block;
}

.menu-btn{
    position: fixed;
    top: 100px;
    right: 25px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-width: 1px #333;
}


.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    border-radius: 3px;
    background-color: #F2F0EB;
    position: absolute;
    transition: all 0.6s;
}

#menu-btn-check:checked ~ .menu-btn span::before,
#menu-btn-check:checked ~ .menu-btn span::after {
    background-color: #333;
}


.menu-btn span::before {
    bottom: 8px;
}

.menu-btn span::after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 80;
    background-color:#F2F0EB;
    transition: all 0.6s;
}

.menu-content ul {
    margin-left: 30px;
    margin-top: 180px;
}

.menu-content ul li {
    list-style: none;
    padding-bottom: 20px;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    color:#333;
    text-decoration: none;
    position: relative;
}

.menu-content ul li a::before {
    content: '';
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -240px;/*leftの値を変更してメニューを画面外へ*/
    background-color: #F2F0EB;
    transition: all 0.6s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    right: 0;/*メニューを画面内へ*/
}

#menu-btn-check:checked ~ .background-image{
    visibility: visible;
    opacity: 1;
}

.background-image{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 70;
	background-color: rgba(63, 67, 74, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease,visibility 0.6s ease;
}
}


/*  */
.cart__title{
    text-align: center;
    margin: 0;
}

.cart__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 40px 20px;
    border-radius: 8px;
}

/* 子要素：画像側とテキスト側の両方に指定 */
.cart,
.cart__wrapper {
    flex: 1;            /* これで 1:1（半分半分）の比率にする */
    text-align: center;
}



#minusButton{
    background-color: #F2F0EB;
    color: #333;
    max-width: 80px;
    width: 100%;
    padding: 10px;
}

#plusButton{
    background-color:#F2F0EB;
    color: #333;
    max-width: 80px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.totalprice{
    font-weight: bold;
    font-size: 22px;
}


/* wrapper */
.wrapper__text{
    text-align: center;
    margin: 80px;
}


.cart__btn{
    margin-bottom: 100px;
}



@media screen and (max-width: 768px) {
    .flex{
        flex-direction:column;
    }

    .product__btn{
        margin-bottom: 20px;
    }

}


/* フッター */
.footer{
    background-color: #1F4034;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.footer__list{
    margin: 20px;
}

.copyright-text{
    color: #F2F0EB;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 5px 0 5px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .flex{
        display: block;
    }

    .footer__list{
    padding: 10px;
    margin: 0;
    }

    .footer.flex{
        margin: 0 auto;
    }

    .footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
