@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-size: 100%;
  }

body {
    font-weight:400;
    line-height: 1.5;
    background-color: #F2F0EB;
    font-family: "Hiragino Kaku Gothic",
      "Noto Sans JP",
      "Quattrocento",
      sans-serif;
}

img {
    width: 100%;
    vertical-align: bottom;
}

p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #F2F0EB;
    font-size: 16px;
}

ul {
    list-style: none;
}


.inner{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}


.btn{
    background-color: #333;
    border-radius: 5px;
    display: block;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}


/*  */
.header__title a{
    font-size: 30px;
}

.complete__title{
    text-align: center;
}

.complete__text{
    text-align: center;
    margin: 0px 0px 50px;
}


.complete__btn{
    margin-bottom: 100px;
}


.hamburger-menu{
    display: none;
}

.header__flex{
    padding: 0 50px;
}






.copyright {
border-top: 1px solid rgba(255, 255, 255, 0.2);
display: inline-block;
padding: 5px 0 5px;
width: 100%;
}

/* フッター */
@media screen and (max-width: 768px) {
    .footer.flex{
        margin: 0 auto;
    }

    .footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}